{%extends 'base.html'%}
{%block content%}
<div class="page-header">
    <div class="container">
        <h1>Competition</h1>
    </div>
</div>

<div class="container" style="padding-bottom: 40px;">

<div class="competition-view">
    <div class="row">
        <div class="col-sm-2">
            <div class="img-container">
                    <img class="img-responsive" src="{{competition.image.url}}">
            </div>
        </div>
        <div class="col-sm-10">
            <h2>{{competition.title}}</h2>
            
            <div class="organizer">
                Organized by {{competition.creator.username}} - Current server time: {%now 'P'%}<br>
            </div>
            <input type="hidden" id="competitionId" value="{{competition.id}}">
            <input type="hidden" id="cstoken" value="IO1WrXSJJip6xCC9pgXUgR0HIKqc2V65">
            <div class="phase-container">
                <div class="row">
                        <div class="col-sm-4">
                            <div class="phase current">
                                <h4><span class="glyphicon glyphicon-play"></span> Current</h4>
                                <span class="phase-label label phase-label-purple">Clustering</span>
                                <div class="date">{{competition.start_date}}</div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="phase">
                                <h4>End</h4>
                                <span class="phase-label label competition-end">Competition Ends</span>
                                <div class="date">{{competition.end_date}}</div>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
    <section class="competition-tabs">
        <ul class="nav nav-tabs" id="competition_tab_nav">                
            <li class="">
                <a href="#learn_the_details" role="tab" data-toggle="tab">
                Learn the Details
                </a>
            </li>
            <!-- <li class=""><a href="#phases" role="tab" data-toggle="tab">Phases</a></li> -->
            
            <li class="active">
                <a href="#participate" role="tab" data-toggle="tab">
                    Participate
                </a>
            </li>            
            <li class=""><a href="#results" role="tab" data-toggle="tab">Results</a></li>
        </ul>
        <div class="tab-content">
                <div class="tab-pane" id="learn_the_details">
                    <div class="tab-inner">
                        <div class="row">
                             <div class="col-sm-3">
                                <ul class="nav nav-sidenav innertabs">
                                    <li class="active">
                                        <a href="#learn_the_details-overview" data-toggle="tab">Overview</a>
                                    </li>
                                    <li class="">
                                        <a href="#learn_the_details-terms_and_conditions" data-toggle="tab">Terms and Conditions</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-9">
                                <div class="tab-content sidenav">
            
                                    <div class="tab-pane active" id="learn_the_details-overview">
                    
                        
                        
                        
                        {{competition.description|safe}}
                        
                    
                </div>
            
                <div class="tab-pane" id="learn_the_details-terms_and_conditions">
                    
                        
                        
                        {{competition.conditional|safe}}
                    
                </div>
            
        </div>
    </div>
</div>

                        
                    </div>
                </div>

            
                
                
                    <div class="tab-pane" id="phases">
                        <div class="tab-inner">
                            <div class="phase-list">
                                
                                    <div class="phase-list-item panel phase-list-item-purple">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Clustering</h3>
                                        </div>
                                        <div class="panel-body">
                                            <p><strong>Start:</strong> {{competition.start_date}}</p>
                                            
                                        </div>
                                    </div>
                                
                                <div class="phase-list-item panel phase-list-item-default phase-list-item-deadline">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Competition Ends</strong></h3>
                                </div>
                                <div class="panel-body">
                                    <p>  <strong>{{competition.end_date}}</strong>
                                    
                                    </p>
                                </div>
                                </div>
                            </div>

                        </div>
                    </div>
                
                <div class="tab-pane active" id="participate">
                    <div class="tab-inner">
                        
                            
                                
                                
                                    <div class="row">
    <div class="col-sm-3">
        <ul class="nav nav-sidenav innertabs">
            
                <li class=""><a href="#participate-get_data" data-toggle="tab">Get Data</a></li>
            
                <li class="active"><a href="#participate-submit_results" data-toggle="tab">Submit / View Results</a></li>
            
        </ul>
    </div>
    <div class="col-sm-9">
        <div class="tab-content sidenav">
            
                <div class="tab-pane" id="participate-get_data">
                    {%with competition.datasets.all|first as dataset%}
                    
                        

                        
                        <script>
                            {
                                const content = '{{dataset.description|safe}}';
                                document.write(DOMPurify.sanitize(
                                    content,
                                    { FORBID_TAGS: ['style'] }
                                ));
                            }
                        </script>
                        {{dataset.description|safe}}
                    {%endwith%}
                </div>
            
                <div class="tab-pane active" id="participate-submit_results">
                    
                        



<div id="submissions_phase_buttons">
  
    
      <!-- active, dont change bg color -->
        <button class="btn active phase-btn-purple btn-sm selected" id="submissions_phase_47491">Clustering</button>
    
  
</div>

<div class="competition_submissions">

    

    
    <div class="phase-description">
        <h4>Phase description</h4>
        
            <p>None</p>
        

        <p><b>Max submissions per day: </b> 999</p>
        <p><b>Max submissions total: </b> 1000</p>
    </div>
        

        
            <form id="s3_upload_form" action="{%url 'ajax_upload'%}" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                <div class="form-group">
                <label class="control-label">Click the Submit button to upload a new submission.
                </label>

            
                    <br><b>*Team name (20 characters max): </b>
                    <input id="submission_team_name" type="text" maxlength="20" class="form-control" placeholder="Team name" value="landges21">
                    <br><b>*Method name (20 characters max): </b>
                    <input id="submission_method_name" type="text" maxlength="20" class="form-control" placeholder="Method name" value="tt +sbert">
                    <br><b>*Method description: </b>
                    <textarea id="submission_method_description" class="form-control" placeholder="Method description">tt +sbert</textarea>            
                    </div>
                <div class="s3direct form-active" >  
                    <a class="file-link" target="_blank" href=""></a>  
                    <a class="file-remove" href="#remove">Remove</a>  
                    <input class="file-url" type="hidden" value="" id="id_s3_file" name="s3_file"><input class="file-dest" type="hidden" value="submissions">  
                    <input class="file-input" type="file" name="inputfile">  
                    <div class="progress progress-striped active">    
                        <div class="bar"></div>  
                    </div>
                </div>
                <!-- <input class="file-input" type="file" name="inputfile">  -->
                <div id="s3-file-upload" class="button btn btn-primary ">
                    Submit
                </div>
            </form>
            <!-- <script 
   src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
        <script type="text/javascript">
            $(document).ready(function(){
                $("#s3-file-upload").click(function(e) {
                    // reset form
                    console.log('first');
                    // $(".s3direct .file-input").val('')
                    // $('.s3direct a.file-link').attr('href', '')

                    $(".s3direct .file-input").click()
                })
                $("#s3-file-upload").click(function(event){
                    event.preventDefault();
                    var form = $('#s3_upload_form')[0];
                    var formData = new FormData(form);
                    console.log(formData);

                    var competitionId = $("#competitionId").val();
                    formData.append("competition",competitionId);
                    $('#details').html('Creating new submission...');
                    // var docker_image = $('#submission_docker_image').val() || '';
                    var description = $('#submission_description_textarea').val() || '';
                    formData.append("description",description);
                    var method_name = $('#submission_method_name').val() || '';
                    formData.append("method_name",method_name);
                    var method_description = $('#submission_method_description').val() || '';
                    formData.append("method_description",method_description);
                    var team_name = $('#submission_team_name').val() || '';
                    formData.append("team_name",team_name);
                    // $('#submission_description_textarea').val('');
                    $.ajax({
                        url: '/uploadsubm/',
                        type: 'post',
                        cache: false,
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function(responce){
                            var table = $(".appendrow")
                            table.append(responce);
                            console.log(responce);
                        }
                        })

                })
            })
        </script>


        

        <p id="details" class="submission_upload_details"></p>

        <p>Here are your submissions to date
            <span class="small">(<span class="glyphicon glyphicon-ok"></span> indicates submission on leaderboard )</span>:</p>
    
    <div class="user_results">
    
        <input type="hidden" id="phasestate" value="1">
    
        <input type="hidden" id="submission_phase_id" class="form-control" value="47491">
        <div class="table-responsive">
            <table class="table resultsTable table-striped table-bordered" id="user_results">
                <thead>
                <tr>
                    <th>#</th>
                    
                        <th>Score</th>
                    
                    <th>Filename</th>
                    <th>Submission date</th>
                    <th>Status</th>
                    <th class="text-center"><span class="glyphicon glyphicon-ok"></span></th>
                </tr>
                </thead>
                <tbody class="appendrow">
                    {%for result in user_board%}
                        {%include 'contest/includes/result_user_card.html'%}
                    {%endfor%}
                    
                </tbody>
            </table>
        </div>
    </div>

    <div id="submission_details_template" class="hide">
        <table>
            <tbody><tr class="trDetails">
                <td class="tdDetails">
                    <div class="submission_details">
                        <div class="bundle__meta__desc">
                            <p class="submission_description">No description given.</p>
                            <textarea name="updated_description" class="hide" placeholder="new description" style="display: block; width: 100%; margin-bottom: 12px;"></textarea>
                            <button class="btn btn-primary save_description_btn hide">save description</button>
                            <button class="btn btn-primary update_description_btn">update description</button>
                            <p class="submission_team_name"></p>
                            <p class="submission_method_name"></p>
                            <p class="submission_method_description"></p>
                            <p class="submission_project_url"></p>
                            <p class="submission_publication_url"></p>
                            <p class="submission_bibtex"></p>
                            <p class="submission_organization_or_affiliation"></p>
                        </div>
                        
                        <div class="traceback"><a href="https://competitions.codalab.org/competitions/traceback/_/"></a></div>
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled">
                                    <li><a href="https://competitions.codalab.org/my/competition/submission/_/input.zip">Download your submission</a></li>
                                    
                                    
                                        <li><a href="https://competitions.codalab.org/my/competition/submission/_/stdout.txt" target="_blank">View scoring output log</a></li>
                                        <li><a href="https://competitions.codalab.org/my/competition/submission/_/stderr.txt" target="_blank">View scoring error log</a></li>
                                        
                                        
                                            <li><a href="https://competitions.codalab.org/my/competition/submission/_/output.zip">Download output from scoring step</a></li>
                                        
                                    
                                </ul>
                            </div>
                            <div class="col-sm-3 preloader-handler"></div>
                            <div class="col-sm-3">
                                <button class="leaderboard_button btn btn-default pull-right hide"></button><br>
                                
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody></table>
        <table id="submission_row_template">
            <tbody><tr>
                <input type="hidden" name="state" value="0">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="statusName"></td>
                <td class="status not_submitted"></td>
                <td><span class="glyphicon glyphicon-plus"></span></td>
            </tr>
        </tbody></table>
    </div>



<script>
    //**************************************************************//
    //**                 docker image max length                  **//
    //**************************************************************//


























    //**************************************************************//
    //**                 S3 Filestorage functions                 **//
    //**************************************************************//


    // $(".s3direct .file-input").change(function(){
    //     $("#s3-file-upload").addClass('disabled')
    //     if($(".s3direct .file-input").val() == '') {
    //         $("#s3-file-upload").removeClass('disabled')
    //         return
    //     }

        // var test_if_done = function () {
        //     var uploaded_url = $('.s3direct a.file-link').attr('href')

        //     if (uploaded_url && uploaded_url != '' && uploaded_url.length > 0) {
        //         $("#s3-file-upload").removeClass('disabled')
        //         Competition.submitUploadedSubmissionDetails(undefined, uploaded_url)
        //     } else {
        //         setTimeout(test_if_done, 100)
        //     }
        // }
        // test_if_done()
    // })
</script>
</div>

                    
                </div>
            
        </div>
    </div>
</div>

                                
                            
                        
                    </div>
                </div>

            
                
                
                <div class="tab-pane" id="results">
                    <div class="tab-inner">
                        
                            <div id="results_phase_buttons">
  
    
      <button class="btn active phase-btn-purple selected" id="results_phase_47491">Clustering</button>
    
  
</div>

<div class="competition_results">


    
    <div class="phase-description">
        <h4>Phase description</h4>
        
            <p>None</p>
        
        <p><b>Max submissions per day: </b> 999</p>
        <p><b>Max submissions total: </b> 1000</p>
    </div>

    
        <a class="icon-excel btn btn-default" href="https://competitions.codalab.org/competitions/28830/results/47491/data">Download CSV</a>
    
    

        <div class="leaderboard-result-table">
            
                <table class="resultsTable dataTable">
                    <tbody>
                        <tr class="table-title">
                            <th colspan="6">Results</th>
                        </tr>
                        <tr class="leaderboard-result-table-header">
                            <th rowspan="2">#</th>
                            <th rowspan="2">User</th>
                            <th rowspan="2">Entries</th>
                            <th rowspan="2">Date of Last Entry</th>
                            
                            <th rowspan="2">Team Name</th>
                            <th rowspan="2" class="column-selectable column-selected" name="f1_score">F-score
                            <span class="glyphicon glyphicon-play ascending-sorting" aria-hidden="true"></span>
                            </th>
                        </tr>
                        <tr>
                        </tr>
                        {%for result in leader_board%}
                            {%include 'contest/includes/table_result_user_card.html'%}
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>                        
    </div>
                </div>

            
        </div>
    </section>
        <div class="row">
        <div class="col-sm-4">
            
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Score</th>
                    </tr>
                    </thead>
                    <tbody>
                        {%for row in competition.get_top3%}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{row.participant.username}}</td>
                            <td>{{row.score}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            
        </div>
        <div class="col-sm-8"><iframe class="chartjs-hidden-iframe" style="display: block; overflow: hidden; border: 0px none; margin: 0px; inset: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;" tabindex="-1"></iframe>
            
                
                    

<canvas id="chart" style="display: block; width: 750px; height: 375px;" width="750" height="375"></canvas>
<script>
    var ctx = document.getElementById("chart");
    var local_highscore = 0
    var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{competition.get_submission_date|safe}},
            datasets: [
                {
                    type: 'line',
                    label: 'High Score',
                    yAxisID: 'score',
                    data: {{competition.get_best_scores}},
                    borderColor: 'rgba(255, 99, 132, 1)',
                    backgroundColor: 'rgba(255, 255, 255, 0.0)'
                },
                {
                    type: 'bar',
                    label: 'Total Daily Submissions',
                    yAxisID: 'count',
                    data: {{competition.get_total_submissiom}}
                }
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    id: "count",
                    position: "left",
                    scaleLabel: {
                        display: true,
                        labelString: 'Submission count'
                    },
                    ticks: {
                        beginAtZero: true,
                        min: 0,
                        suggestedMax: 25
                    }
                }, {
                    id: "score",
                    position: "right",
                    scaleLabel: {
                        display: true,
                        labelString: 'Submission score',
                        fontColor: 'rgba(255,99,132,1)',
                    },
                    ticks: {
                        beginAtZero: true,
                        suggestedMin: -0.1,
                        suggestedMax: 1.2,
                        // Reverse the score axis if we're doing descending (1 is better than 0)
                        reverse: "desc" === "asc"
                    }
                }]
            }
        }
    });
</script>

                
            
        </div>
    </div>
</div>


        </div>
{%endblock%}